html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  height: 100vh;
  /* width: 150vw; */
  /* max-height: auto; */
  max-width: 1280px;
  min-height: 600px;
  min-width: 800px;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
  /* margin-left: auto;
  margin-right: auto; */
}
.border {
  height: 368px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.card {
  height: 800px;
  width: 600px;
  background: rgb(250, 246, 246);
  border-radius: 40px;
  transition: background 0.8s;
  overflow: hidden;
  background: rgb(250, 246, 246);
  box-shadow: 0 70px 63px -60px #000000b8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url("https://i.pinimg.com/originals/ba/de/3f/bade3f5134bd8c16fae9cb800023ab23.jpg")
    center center no-repeat;
  background-size: 300px;
  background-color: #fffffb;
}

.card1 {
  background: url("https://media-exp1.licdn.com/dms/image/C511BAQEgWZDahcLosA/company-background_10000/0/1519799975034?e=2159024400&v=beta&t=U6I8xH2iaQQ42eZv63KSRa1KBfiW_0_O-CE_OQEy120")
    center center no-repeat;
  background-size: 300px;
  background-color: #fffffb;
}

.card2 {
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-laptops-1589464856.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*")
    center center no-repeat;
  background-size: 300px;
  background-color: #fffffb;
}
:hover {
  background-size: 900px;
}

.whereto-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(92, 90, 90);
  font-size: larger;
}
.careforyou-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(92, 90, 90);
  font-size: larger;
}
.techcare-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(92, 90, 90);
  font-size: larger;
}
p {
  color: rgb(4, 4, 4);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    /* padding: 100px; */
    justify-content: space-between;
    margin: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  p {
    padding: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 10px;
    border-radius: 60px;
  }
}
@media screen and (max-width: 365px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    /* margin: 100px; */
    align-items: flex-start;
  }

  .border {
    height: 200px;
  }
  p {
    padding: 20px;
    font-weight: bold;
    color: rgba(20, 20, 20, 0.884);
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 10px;
    border-radius: 70px;
    background-color: rgba(211, 203, 211, 0.714);
  }

  .card0 {
    background-size: 100px;
  }
}
