.footer {
  display: flex;
  padding: 10px;
  background-color: #fffffb;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: flex-end;
  /* border-radius: 10px; */
}

.App {
  display: flex;
  flex-direction: column;
  color: rgb(1, 1, 1);
  background-color: #ffeade;
}

.linkedin {
  list-style-type: none;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  border: none;
}

.github {
  list-style-type: none;
  border-radius: none;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .App {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer {
    position: relative;
  }
}
