.links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  /* align-items: flex-end; */
  align-self: auto;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  color: rgb(250, 246, 246);
  font-size: x-large;
}
/* h3 {
  padding-right: 1100px;
  position: relative;
} */

a {
  text-decoration: none;
  display: flex;
}

a:visited {
  color: rgb(19, 19, 19);
}

a:hover {
  text-decoration: underline;
}

a {
  font-size: medium;
}
